@font-face {
    font-family: "Mona Sans";
    src: url(Media/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.ttf);
}
@font-face {
    font-family: "Source Serif 4";
    src: url(Media/vEFF2_tTDB4M7-auWDN0ahZJW3IX2ih5nk3AucvUHf6kDXr4.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Mona Sans";
}

html, body{
    height: 100%;
    width: 100%;
}


#page-1{
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
}

nav{
    height: 10%;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav #nav-part1{
    width: 33%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1 h4{
    font-size: 1.2vw;
    font-weight: 800;
    transition: all ease 0.3s;
}
#nav-part1 h4:hover{
    cursor: pointer;
    color: rgb(83, 83, 83);
}

nav img{
    height: 130%;
    width: 10%;
    margin-right: 50px;
}
nav #nav-part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2 button{
    padding: 0.5vw 1vw;
    border-radius: 50px;
    font-size: 1.1vw;
    font-weight: 700;
    border: none;
    color: white;
    background-color: black;
    transition: all ease 0.3s;
}
#nav-part2 button:nth-child(1){
    background-color: whitesmoke;
    color: black;
    margin-right: 8px;
}
#nav-part2 button:hover{
    cursor: pointer;
}
#nav-part2 button:nth-child(2):hover{
    cursor: pointer;
    background-color: rgb(44, 44, 44);
}


#content{
    height: 90%;
    width: 100%;
    /* background-color: burlywood; */
    padding-top: 11vh;
}

#content h3{
    background-color: #f08be4;
    font-size: 1.3vw;
    font-weight: 500;
    padding: 0.5vw 1.9vw;
    border-radius: 50px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Source Serif 4";
}

#content h1{
    font-size: 4vw;
    font-family: "Source Serif 4";
    text-align: center;
    line-height: 4.2vw;
    font-weight: 400;
    margin: 3vh 3vh;
}
#content h4{
    font-size: 1.2vw;
    text-align: center;
    font-weight: 700;
}
#content button{
    padding: 0.8vw 2.5vw;
    border-radius: 50px;
    font-size: 1.2vw;
    font-weight: 400;
    border: none;
    color: white;
    background-color: black;
    position: relative;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    transition: all ease 0.3s;
}
#content button:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 27);
}

#bottom{
    height: 44.6%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 5.6vh;
    padding: 0.4vw;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    flex-shrink: 0;
    height: 99%;
    width: 13%;
    /* background-color: blueviolet; */
    border-radius: 20px;
    margin-right: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.elem h6{
    font-size: 1.2vw;
    color: white;
    font-weight: 700;
}
.elem:nth-child(1){
    background-image: url(Media/image1.webp);
    background-size: cover;
}
.elem:nth-child(2){
    background-image: url(Media/image2.webp);
    background-size: cover;
}
.elem:nth-child(3){
    background-image: url(Media/image3.webp);
    background-size: cover;
}
.elem:nth-child(4){
    background-image: url(Media/image9.webp);
    background-size: cover;
}
.elem:nth-child(5){
    background-image: url(Media/image5.webp);
    background-size: cover;
}
.elem:nth-child(6){
    background-image: url(Media/image6.webp);
    background-size: cover;
}
.elem:nth-child(7){
    background-image: url(Media/image7.webp);
    background-size: cover;
}
.elem:nth-child(8){
    background-image: url(Media/image8.webp);
    background-size: cover;
}
.elem:nth-child(9){
    background-image: url(Media/image9.webp);
    background-size: cover;
}
.elem:nth-child(10){
    background-image: url(Media/image5.webp);
    background-size: cover;
}
.elem:nth-child(11){
    background-image: url(Media/image2.webp);
    background-size: cover;
}


#page-2{
    height: 200%;
    width: 100%;
    /* background-color: #f08be4; */
    padding: 10vh 9vh 0 9vh;
}
#page-2>h1{
    text-align: center;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

#page-2 .box{
    height: 205px;
    width: 23%;
    background-color: rgb(0, 89, 255);
    display: inline-block;
    margin: 0.6vw;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.3s;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.box-bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.76));
    position: absolute;
    bottom: -35%;
    transition: all ease 0.3s;

    display: flex;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    color: white;
    padding: 1vw;
}
.box:hover .box-bottom{
    bottom: 0;
}
.box:hover{
    scale: 1.03;
}

.box-bottom  h3{
    font-size: 1.7vw;
    font-weight: 600;
}
.box-bottom i{
    font-size: 1.5vw;
    color: black;
    background-color: white;
    padding: 0.5vw;
    border-radius: 50px;
    transition: all ease 0.2s;
}
.icon i:hover{
    cursor: pointer;
    background-color: rgb(187, 186, 186);
}

#blank{
    height: 20%;
    width: 100%;
    background-color: white;
}

#page-3{
    height: 95%;
    width: 100%;
    background-color: #FFDA79;
    display: grid;
    grid-template-rows: 20% 26% 20% 19% 15%;
}
.elements h1{
    font-size: 5vw;
    font-weight: 300;
    line-height: 5vw;
    font-family: "Source Serif 4";
    text-align: center;
    margin-top: 10px;
}
.elements h3{
    font-size: 1.5vw;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

.elements:nth-child(4){
    padding: 30px;
}
#action{
    height: 90%;
    width: 24%;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#action button{
    font-size: 1.1vw;
    font-weight: 700;
    padding: 1.2vw;
    border: none;
    border-radius: 50px;
    transition: all ease 0.3s;
}
#left-btn{
    background-color: black;
    color: white;
}
#left-btn:hover{
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}
#right-btn:hover{
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

.elements h5{
    font-size: 1.7vw;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: black;
}
.elements a{
    color: black;
}

footer{
    height: 47%;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 20% 30% 12% 8%;
}

.foot-elem{
    padding: 0 4vw;
}


.foot-elem:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot-elem img{
    height: 120%;
    width: 10%;
}

.foot-elem #quick-links{
    height: 100%;
    width: 70%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#quick-links h4{
    font-size: 1.2vw;
    font-weight: 600;
    transition: all ease 0.3s;
}
#quick-links h4:hover{
    cursor: pointer;
    color: rgb(58, 58, 58);
}
.foot-elem #social{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#social i{
    font-size: 1.7vw;
    transition: all ease 0.3s;
}
#social i:hover{
    cursor: pointer;
    scale: 1.2;
}

.foot-elem:nth-child(4){
    display: flex;
    justify-content: space-between;
}
#copyright{
    height: 100%;
    width: 25%;
    /* background-color: #f08be4; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btm-right{
    height: 100%;
    width: 35%;
    /* background-color: #f08be4; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot-elem h6{
    font-size: 1.2vw;
    font-weight: 600;
    transition: all ease 0.3s;
}
.foot-elem h6:hover{
    cursor: pointer;
    color: rgb(65, 65, 65);
}


@media (max-width:600px){
    nav{
        height: 8%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    nav #nav-part1{
        display: none;
    }
    nav img{
        height: 130%;
        width: 35%;
    }
    nav #nav-part2{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #nav-part2 button{
        padding: 1.5vw 5vw;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 700;
        border: none;
        color: white;
        background-color: black;
        transition: all ease 0.3s;
    }
    #nav-part2 button:nth-child(1){
        display: none;
    }
    #nav-part2 button:nth-child(2):hover{
        cursor: pointer;
        background-color: rgb(44, 44, 44);
    }

    #content{
        height: 60%;
        width: 100%;
        /* background-color: burlywood; */
        padding-top: 8vh;
    }
    
    #content h3{
        font-size: 4vw;
    }
    
    #content h1{
        font-size: 9vw;
        line-height: 9vw;
    }
    #content h4{
        font-size: 3.5vw;
        width: 60%;
        margin: auto;
    }
    #content button{
        padding: 2vw 8vw;
        font-size: 3vw;
    }

    #bottom{
        height: 45%;
    }
    
    .elem{
        height: 90%;
        width: 30%;
        margin-right: 10px;
    }
    .elem h6{
        font-size: 3vw;
        color: white;
        font-weight: 700;
    }
    
    #page-2{
        height: fit-content;
        width: 100%;
        /* background-color: #f08be4; */
        padding: 15vh 3.5vh 0 3.5vh;
    }
    #page-2>h1{
        text-align: center;
        font-size: 6vw;
        width: 70%;
        margin: auto;
    }
    
    #page-2 .box{
        height: 205px;
        width: 100%;
        /* background-color: rgb(0, 89, 255); */
        display: inline-block;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    .box video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .box img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box-bottom{
        height: 35%;
        width: 100%;
        bottom: -35%;
    }
    .box:hover{
        scale: 1.04;
    }
    
    .box-bottom  h3{
        font-size: 7vw;
        font-weight: 800;
    }
    .box-bottom i{
        font-size: 4vw;
        padding: 3vw;
    }

    #page-3{
        height: 80%;
        width: 100%;
        background-color: #FFDA79;
        display: grid;
        grid-template-rows: 15% 20% 30% 17% 15%;
    }
    .elements h1{
        font-size: 10vw;
        line-height: 10vw;
    }
    .elements h3{
        font-size: 4.5vw;
        width: 65%;
        text-align: center;
        font-weight: 600;
        margin: auto;
        padding-top: 30px;
    }
    
    .elements:nth-child(4){
        padding: 1vh;
    }
    #action{
        height: 90%;
        width: 30%;
        /* background-color: aqua; */
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #action button{
        font-size: 2vw;
        font-weight: 700;
        padding: 3vw;
        border: none;
        border-radius: 50px;
        transition: all ease 0.3s;
    }
    
    .elements h5{
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
        color: black;
    }

    footer{
        height: 40%;
        width: 100%;
        display: grid;
        grid-template-rows: 0 60% 10% 25%;
    }
    
    
    .foot-elem:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .foot-elem img{
        height: 200%;
        width: 40%;
    }
    
    .foot-elem #quick-links{
        height: 100%;
        width: 90%;
    }
    #quick-links h4{
        font-size: 2vw;
    }
    .foot-elem #social{
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #social i{
        font-size: 5vw;
    }
    
    .foot-elem:nth-child(4){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #copyright{
        height: 100%;
        width: 50%;
    }
    #btm-right{
        height: 100%;
        width: 80%;
    }
    .foot-elem h6{
        font-size: 3vw;
    }
}
